<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.ssafit.model.dao.ReviewDao">
	<resultMap type="com.ssafy.ssafit.model.dto.Review" id="reviewMap">
		<result column="review_id" property="review_id"/>
		<result column="user_id" property="user_id"/>
		<result column="program_id" property="program_id"/>
		<result column="parent_id" property="parent_id"/>
		<result column="article_id" property="article_id"/>
		<result column="review_content" property="review_content"/>
		<result column="review_like_cnt" property="review_like_cnt"/>
		<result column="depth" property="depth"/>
		<result column="review_reg_date" property="review_reg_date"/>
	</resultMap>
	
	<resultMap type="com.ssafy.ssafit.model.dto.Like" id="likeMap">
		<result column="like_id" property="like_id"/>
		<result column="exercise_name" property="exercise_name"/>
		<result column="program_id" property="program_id_like"/>
		<result column="parent_id" property="parent_id_like"/>
		<result column="article_id" property="article_id"/>
		<result column="like_property" property="like_property"/>
	</resultMap>
	
	

	<!-- 전체글 조회 -->
	<select id="selectAll" resultType="Review">
		SELECT *
		FROM `review`		
	</select>
	
	<!-- 대댓글 조회 -->
	<select id="selectByParent" parameterType="int", resultType="Review">
		SELECT *
		FROM review
		WHERE parent_id = #{parent_id}
		ORDER BY review_reg_date DESC
	</select>
	
	<!-- 프로그램에 대한 댓글 조회 -->
	<select id="selectByProgram" parameterType="int", resultType="Review">
		SELECT *
		FROM review
		WHERE program_id = #{program_id}
		ORDER BY review_reg_date DESC
	</select>
	
	<!-- 게시판에 대한 댓글 조회 -->
	<select id="selectByArticle" parameterType="int", resultType="Review">
		SELECT *
		FROM review
		WHERE article_id = #{article_id}
		ORDER BY review_reg_date DESC
	</select>
	
	
	
	<!------------------------------------------------------------------------------------------->
	<!-- 댓글에 대한 좋아요! -->
	<!------------------------------------------------------------------------------------------->
	
	<!-- 사용자가 특정 리뷰에 좋아요를 했는지 Like를 가져옴 -->
	<select id="selectLikeByuserFromReview" parameterType="Map" resultType="Like">
		SELECT *
		FROM lIKE
		WHERE review_id = #{review_id}
		AND user_id = #{user_id}
	</select>
	<!-- 사용자가 특정 리뷰에 좋아요를 누름  -->
	<insert id="insertLikeToReview" parameterType="Map">
		INSERT INTO like (user_id, review_id)
		VALUES (#{user_id}, #{review_id})
	</insert>
	<!-- 사용자가 특정 리뷰에 좋아요를 취소 -->
	<delete id="deleteLikeFromReview" parameterType="Like">
		DELETE FROM like
		WHERE like_id = #{like_id}
	</delete>
	
	
	<!------------------------------------------------------------------------------------------->
	<!-- 운동 프로그램에 대한 좋아요! -->
	<!------------------------------------------------------------------------------------------->
	
	<!-- 사용자가 특정 프로그램에 좋아요 혹은 싫어요를 했는지 Like를 가져옴 -->
	<select id="selectLikeByuserFromProgram" parameterType="Map" resultType="Like">
		SELECT *
		FROM like
		WHERE program_id = #{program_id}
		AND user_id = #{user_id}
	</select>
	<!-- 사용자가 특정 프로그램에 좋아요 혹은 싫어요를 입력  -->
	<!-- 처음에 좋아요 혹은 싫어요를 한 적이 없을 때 -->
	<insert id="insertLikeToProgram" parameterType="Map">
		INSERT INTO like (user_id, program_id, like_property)
		VALUES (#{user_id}, #{program_id}, #{like_property})
	</insert>
	<!-- 사용자가 특정 프로그램에 좋아요 혹은 싫어요를 변경함 -->
	<update id="updateLikeFromProgram" parameterType="Map">
		UPDATE like
		SET like_property = #{like_property}
		WHERE program_id = #{program_id}
		AND user_id = #{user_id}
	</update>
	<!-- 사용자가 특정 프로그램에 좋아요 혹은 싫어요를 취소함 -->
	<delete id="deleteLikeFromProgram" parameterType="Like">
		DELETE FROM like
		WHERE like_id = #{like_id}
	</delete>
	
	
	
	<!-- 프로그램 리뷰 등록 -->
	<insert id="insertReviewProgram" parameterType="Review">
		INSERT INTO `review` (user_id, program_id, review_content, review_like_cnt, depth, review_reg_date)
		VALUES (#{user_id}, #{program_id}, #{review_content}, #{review_like_cnt}, #{depth}, #{review_reg_date})
	</insert>
	<!-- 리뷰 리뷰 등록 -->
	<insert id="insertReviewParent" parameterType="Review">
		INSERT INTO `review` (user_id, parent_id, review_content, review_like_cnt, depth, review_reg_date)
		VALUES (#{user_id}, #{parent_id}, #{review_content}, #{review_like_cnt}, #{depth}, #{review_reg_date})
	</insert>
	<!-- 게시판 리뷰 등록 -->
	<insert id="insertReviewArticle" parameterType="Review">
		INSERT INTO `review` (user_id, article_id, review_content, review_like_cnt, depth, review_reg_date)
		VALUES (#{user_id}, #{article_id}, #{review_content}, #{review_like_cnt}, #{depth}, #{review_reg_date})
	</insert>
	
	<!-- 리뷰 삭제 -->
	<delete id="deleteReview" parameterType="int">
		DELETE FROM `review`
		WHERE review_id = #{review_id}
	</delete>
	
	<!-- 조회수 증가 -->
	<update id="updateViewCnt" parameterType="int" >
		UPDATE `review`
		SET view_cnt = view_cnt + 1
		WHERE review_id = #{reviewId}
	</update>
	
	
	<!-- 리뷰 수정 -->
	<update id="updateReview" parameterType="Review">
		UPDATE `review`
		SET review_content = #{review_content}, review_reg_date = now()
		WHERE review_id = #{review_id}
	</update>	
	
	
	
	
	
	
	
	
	
	
	
	
	


</mapper>