<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.ssafit.model.dao.ArticleDao">

	<!-- 속성에 맞는 게시판 가져오기 -->
	<!-- 0 : 루틴연구소, 1: 자유게시판, 2: 헬스친구찾기 -->
	<select id="selectByProperty" parameterType="int" resultType="Article">
		SELECT *
		FROM article
		WHERE article_property = #{article_property}
		ORDER BY article_reg_date DESC
        <!-- LIMIT 10 -->
	</select>

	<!-- 게시판 하나 조회 -->
	<select id="selectOneById" parameterType="int" resultType="Article">
		SELECT *
		FROM article
		Where article_id = #{article_id};
	</select>
	
	<!--  게시판 조회수 증가  -->
	<update id="increaseView" parameterType="int">
		UPDATE article
		SET article_view_cnt = article_view_cnt + 1
		WHERE article_id = #{article_id}
	</update>

	<!-- 게시판 등록 -->
	<insert id="insertArticle" parameterType="Article">
		INSERT INTO article (user_id, article_title, article_content, article_property)
		VALUES (#{user_id}, #{article_title}, #{article_content}, #{article_property})
	</insert>
	
	<!-- 영상첨부 게시판 등록 -->
	<insert id="insertVideoArticle" parameterType="Article">
		INSERT INTO article (user_id, article_title, article_content, article_property, article_video_id)
		VALUES (#{user_id}, #{article_title}, #{article_content}, #{article_property}, #{article_video_id})
	</insert>

	<!-- 게시판 삭제 -->
	<delete id="deleteArticle" parameterType="int">
		DELETE FROM article
		WHERE article_id = #{article_id}
	</delete>

	<!-- 게시판 수정 -->
	<update id="updateArticle" parameterType="Article">
		UPDATE article
		SET article_title = #{article_title}, article_content = #{article_content}, article_video_id = #{article_video_id}
		WHERE article_id = #{article_id}
		AND user_id = #{user_id}
	</update>

</mapper>