<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.ssafit.model.dao.ReviewDao">
	<!-- <resultMap type="Review" id="reviewMap">
		<result column="video_id" property="videoId"/>
		<result column="review_id" property="reviewId"/>
		<result column="review_title" property="reviewTitle"/>
		<result column="user_nickname" property="userNickname"/>
		<result column="content" property="content"/>
		<result column="view_cnt" property="viewCnt"/>
		<result column="reg_date" property="regDate"/>
	</resultMap> -->
<!-- 왼쪽이 db, 오른쪽이 dto 이름 -->

<!--     `video_id` VARCHAR(20) NOT NULL, -->
<!--     `review_id` INT AUTO_INCREMENT, -->
<!--     `review_title` VARCHAR(20) NOT NULL, -->
<!--     `user_nickname` VARCHAR(20) NOT NULL, -->
<!--     `content` VARCHAR(200) NOT NULL, -->
<!--     `view_cnt` INT NOT NULL DEFAULT 0, -->
<!--     `reg_date` TIMESTAMP DEFAULT now(), -->

	<!-- 전체글 조회 -->
	<select id="selectAll" resultType="Review">
		SELECT *
		FROM `review`;		
	</select>
	
	<!-- 대댓글 조회 -->
	<select id="seletByParent" parameterType="int", resultType="Review">
		SELECT *
		FROM review
		WHERE parent_id = #{parent_id}
		ORDER BY review_reg_date DESC
	</select>
	
	<!-- 프로그램 리뷰 등록 -->
	<insert id="insertReviewProgram" parameterType="Review">
		INSERT INTO `review` (user_id, program_id, review_content, review_like_cnt, depth, review_reg_date)
		VALUES (#{user_id}, #{program_id}, #{review_content}, #{review_like_cnt}, #{depth}, #{review_reg_date})
	</insert>
	<!-- 리뷰 리뷰 등록 -->
	<insert id="insertReviewParent" parameterType="Review">
		INSERT INTO `review` (user_id, parent_id, review_content, review_like_cnt, depth, review_reg_date)
		VALUES (#{user_id}, #{parent_id}, #{review_content}, #{review_like_cnt}, #{depth}, #{review_reg_date})
	</insert>
	<!-- 게시판 리뷰 등록 -->
	<insert id="insertReviewArticle" parameterType="Review">
		INSERT INTO `review` (user_id, article_id, review_content, review_like_cnt, depth, review_reg_date)
		VALUES (#{user_id}, #{article_id}, #{review_content}, #{review_like_cnt}, #{depth}, #{review_reg_date})
	</insert>
	
	<!-- 리뷰 삭제 -->
	<delete id="deleteReview" parameterType="int">
		DELETE FROM `review`
		WHERE review_id = #{review_id}
	</delete>
	
	<!-- 조회수 증가 -->
	<update id="updateViewCnt" parameterType="int" >
		UPDATE `review`
		SET view_cnt = view_cnt + 1
		WHERE review_id = #{reviewId}
	</update>
	
	
	<!-- 리뷰 수정 -->
	<update id="updateReview" parameterType="Review">
		UPDATE `review`
		SET review_content = #{review_content}, review_reg_date = now()
		WHERE review_id = #{review_id}
	</update>	
	
	
	
	
	
	
	
	
	
	
	
	
	


</mapper>