<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.ssafit.model.dao.ArticleDao">

	<!-- 속성에 맞는 게시판 가져오기 -->
	<!-- 0 : 루틴연구소, 1: 자유게시판, 2: 헬스친구찾기 -->
	<select id="selectByProperty" parameterType="int" resultType="Article">
		SELECT *
		FROM article
		WHERE article_property = #{article_property}
	</select>

	<!-- 게시판 하나 조회 -->
	<select id="selectOneById" resultType="Article">
		SELECT *
		FROM article
		Where article_id = #{article_id};
	</select>

	<!-- 게시판 등록 -->
	<insert id="insertArticle" parameterType="Article">
		INSERT INTO article (user_id, article_title, article_content, article_property)
		VALUES (#{user_id}, #{article_title}, #{article_content}, #{article_property})
	</insert>
	
	<!-- 영상첨부 게시판 등록 -->
	<insert id="insertArticle" parameterType="Article">
		INSERT INTO article (user_id, article_title, article_content, article_property, article_video_id)
		VALUES (#{user_id}, #{article_title}, #{article_content}, #{article_property}, #{article_video_id})
	</insert>

	<!-- 프로그램 삭제 -->
	<delete id="deleteArticle" parameterType="int">
		DELETE FROM article
		WHERE article_id = #{article_id}
	</delete>

	<!-- 게시판 수정 -->
	<update id="updateArticle" parameterType="Article">
		UPDATE article
		SET article_title = #{article_title}, article_content = #{article_content}, article_video_id = #{article_video_id}
		WHERE article_id = #{article_id}
		AND user_id = #{user_id}
	</update>


	<!----------------------------------------------------------------------------------------- -->
	<!-- 게시판에 대한 좋아요! -->
	<!----------------------------------------------------------------------------------------- -->

	<!-- 사용자가 해당 영상을 좋아요 혹은 싫어요 했는지 조회 -->
	<select id="selectLikeByUser" parameterType="Map" resultType="Like">
		SELECT *
		FROM like
		WHERE article_id = #{article_id}
		AND user_id = #{user_id}
	</select>
	<!-- 좋아요 혹은 싫어요 입력 -->
	<!-- 처음에 좋아요 혹은 싫어요를 한 적이 없을 때 -->
	<insert id="insertLike" parameterType="Map">
		INSERT INTO like (user_id, article_id, like_property)
		VALUES (#{user_id}, #{article_id}, #{like_property})
	</insert>
	<!-- 좋아요 혹은 싫어요 변경 -->
	<update id="updateLike" parameterType="Map">
		UPDATE like
		SET like_property = #{like_property}
		WHERE article_id = #{article_id}
		AND user_id = #{user_id}
	</update>
	<!-- 좋아요 혹은 싫어요 취소 -->
	<delete id="deleteLike" parameterType="Like">
		DELETE FROM like
		WHERE like_id = #{like_id}
	</delete>

	<!-- 프로그램에 대한 좋아요 증가 -->
	<update id="increaseLike" parameterType="int">
		UPDATE article
		SET article_like_cnt = article_like_cnt + 1
		WHERE article_id = #{article_id}
	</update>
	
	<!-- 프로그램에 대한 싫어요 증가 -->
	<update id="increaseUnLike" parameterType="int">
		UPDATE article
		SET article_unlike_cnt = article_unlike_cnt + 1
		WHERE article_id = #{article_id}
	</update>
	
	<!-- 프로그램에 대한 좋아요 감소 -->
	<update id="reduceLike" parameterType="int">
		UPDATE article
		SET article_like_cnt = article_like_cnt - 1
		WHERE article_id = #{article_id}
	</update>

	<!-- 프로그램에 대한 싫어요 감소 -->
	<update id="reduceUnLike" parameterType="int">
		UPDATE article
		SET article_unlike_cnt = article_unlike_cnt - 1
		WHERE article_id = #{article_id}
	</update>




</mapper>